body{
    margin: 0;
    width: 100%;
    font-family: monospace;
    font-size: 16px;
    background-color:rgb(90,90,148);
    color: #ffffff;
}

header{
    text-align: center;
}
header p{
    font-style: italic;
}
form{
    width: 480px;
    margin:0 auto;
    background-color: rgb(27,27,49, 0.8);
    border-radius: 5px;
    padding: 50px 75px;
}

input,select,textarea{
    border:none;
    min-height: 2em;
    border-radius: 5px;
    padding: 5px;
    
}

textarea{
    resize: none;
    min-height: 100px;
}

input[type='checkbox']{
    display: block;
    width: 20px;
}

.form-group, .choice{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.choice{
    gap: 5px;
}

.choice label{
    display: flex;
    align-items: center;
}

.container{
    margin:30px auto;
    width: 80%;
    min-width: 300px;

}

.inline{
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

#submit{
    width: 100%;
    background-color:#36AF65;
    border: none;
    height: 50px;
    font-size: 1.15rem;
    color: white;
    border-radius: 5px;
}

#comment{
    color:gray;
}
